body {
  background: #f4f4f4;
  font-family: Arial;
  padding: 20px;
}

.container {
  background: white;
  padding: 20px;
  width: 400px;
  border-radius: 10px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 6px 0;
  border-radius: 6px;
  border: 1px solid #aaa;
}

button {
  width: 100%;
  padding: 10px;
  background: green;
  color: white;
  border: none;
  border-radius: 6px;
}
.product {
  background: white;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  width: 200px;
  display: inline-block;
}
